*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #2E3A46;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

header img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
   margin: 0px 20px;
}

main{
    height: calc(100vh - 80px);
    background-color: #1E2D3B;
}

.container{
    width: 70%;
    margin: auto;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container .single_card{
    width: calc(100% / 4);
    margin: 20px 30px;
    background-color:  #2E3A46;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single_card img{
   height: 200px;
    margin: auto;
}

.single_card h2{
    color: white;
    margin: 20px 0;
}


.single_card h3,.single_card h4{
    color: gray;
    margin: 15px 0;
}